:root {
    /* Colors */
    --black: #000;
    --white: #fff;
    --clouds: #ecf0f1;
    --silver: #aab8c2;
    --crimson: #e2264d;
    --blue: #91d2fa;
    --purple: #cc8ef5;
    --green: #8ce8c3;
    --pink: #f48ea7;
    --lime: #b5e1ae;

    /* Background Color */
    --background-color: #e8f5fd;

    /* Heart */
    --heart-size: 8em;

    /* Bubble */
    --bubble-diameter: 18rem;
    --bubble-radius: calc(var(--bubble-diameter) * 0.5);

    /* Particle */
    --particle-diameter: 1.5rem;
    --particle-radius: calc(var(--particle-diameter) * 0.5);
}
